body{
	/*background: gray;*/
	/*background-image: url("./favicon.png");*/
	background-image: linear-gradient(rgba(154, 154, 203, 0.5), rgba(255, 255, 0, 0.5)), url("./favicon.png");
	
}
table,
td {
    border: 1px solid #333;
}
thead,
tfoot {
    background-color: #333;
    color: #fff;
}
