body{
	background-color: gray;
	align-content: center;
}
table{
	border-collapse: collapse;
}
th{
	background-color: #000;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
td{
    border: 1px solid #333;
	background-color: #fff;
	text-align: center;
}
tfoot{
    background-color: #333;
    color: #fff;
}
