html{
	background-image: linear-gradient(rgba(154, 154, 203, 0.5), rgba(255, 255, 0, 0.5));
	background-repeat: no-repeat;
	align-content: center;
	min-height: 100%;
}
table,td {
    border: 1px solid #333;
}
#img{
	animation-name: rotating;
	animation-timing-function: ease-in-out;
	animation-duration: 5s;
	animation-iteration-count: infinite;
}
@keyframes rotating{
	0%{transform: rotate(0deg)}
	50%{transform: rotate(360deg)}
	100%{transform: rotate(0deg)}
}
