html{
	background-color: gray;
	align-content: center;
}
table{
	border-collapse: collapse;
}
table th{
	background-color: #000;
	font-size: 14px;
	font-weight: bold;
	color: #FFF;
}
table td{
    border: 1px solid #333;
	background-color: #fff;
	text-align: center;
}
ul{
	display: table;
	margin-right: auto;
	margin-left: auto;
}
